<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('../partials/meta.ejs')%>
  <%-include('../partials/font.ejs') %>
</head>
<body>  
    
  <div class="fondo styleFondo">

    <%-include('../partials/nav.ejs') %>   

    <header>
        <% data.forEach((prod)=>{%> 
      <div class="nombre">
        <h1><%=prod.nombre%></h1>
      </div> 
      <%})%> 
    </header>
 
    <%-include('../partials/main.ejs') %>
   
    <%-include('../partials/footer.ejs') %>
  </div>

</body>
</html>