<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('../partials/meta.ejs')%>
<%-include('../partials/font.ejs') %>
</head>
<body>  
    
  <div class="fondo stylePizza">

    <%-include('../partials/nav.ejs') %>

    <header>
      <div class="nombre">
        <h1>Pizzas</h1>
      </div> 
    </header>
 
    <%-include('../partials/main.ejs') %>
    
    <%-include('../partials/footer.ejs') %>
  </div>

</body>
</html>